{% extends 'base.html' %}
{% block content %}
<h2>Entrar</h2>
<form method="post" class="mt-3" novalidate>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" type="email" name="email" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <div class="input-group">
      <input class="form-control" type="password" name="password" id="password-login" required>
      <button class="btn btn-outline-secondary" type="button" id="togglePassword-login"
        onclick="togglePasswordVisibility('login')">
        <i class="bi bi-eye" id="eye-icon-login"></i>
      </button>
    </div>
  </div>
  <button class="btn btn-primary">Entrar</button>
</form>


{% endblock %}